.ProfileCard {
	border-radius: 1rem;
	border-width: 0.15rem;
	margin: 0% !important;
}

.ant-card-head {
	border-bottom: 2px solid #e1e1e1 !important;
}
.ProfileCard {
	width: 100%;
	max-width: 100%;
	margin: 0.5rem;
}

@media (max-width: 576px) {
	.ProfileCard {
		width: 100vw;
		margin: 0;
	}
	body {
		max-width: 100%;
	}

	.button-group {
		position: relative;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: center;
		gap: 5px;
	}
}
/* Center the List container */
.ant-list {
	display: flex;
	justify-content: center;
}
.ant-tabs-content.ant-contents-top {
	margin: auto !important;
}

.ProfileCard {
	width: 100%;
	max-width: 90vw;
	margin: 0.5rem auto;
}

@media (max-width: 576px) {
	.ProfileCard {
		max-width: 95vw;
		left: -1.7rem;
	}
}
